h1{
    text-shadow: 0 0 5px gray;
}
.header-font{
    color: #fbb161; 
    text-shadow: 0 0 5px gray;
}
.intro-column{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
.custom-select-trigger {
    font-size: max(15px,2.2vw);
    line-height: max(50px,4.5vw);
}
.search{
    height: max(50px,4.5vw);
    font-size: max(15px,2.2vw);
    border-bottom: 1px solid gainsboro;
}
.button {
    height: max(100px,9vw);
    width: max(100px,9vw);
    font-size: max(25px,3.5vw);        /* 文字サイズ */
    line-height: 1em;                  /* 1行の高さ  */
}